// .reviewBox {
//   border-style: solid;
//   border-width: 2px;
//   padding: 5px;
//   margin-bottom: 10px;
// }

.starImages {
  max-width: 25%;
  max-height: 25%;
  position: relative;
  display: flex;
  float: right;
}

