.reviewFormStyle {
  width: 700px;
  height: 100px;
  margin: auto;
}

.cancelButton, .submitButton  {
  margin: 10px 0px 0px 10px;
}

.form-group {
  padding: 10px !important;
}


h1 {
  margin: auto;
  align-content: center;
}