


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

#searchForm {
	position: relative;
  top: 60%;
  z-index: 30;
}

.form-group {
  margin: auto;
  padding-top: 60px;
}
.searchbarHeader {
  text-align: center;
  color: white;
  text-shadow: 2px 2px #5a5a5a;
  font-size: 40px; 
}

.container {
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  height: 100%;
}